# ----------------------------------------------------------------------------
# Store selected contents of this file in:
#    ~/.ssh/config
# ----------------------------------------------------------------------------

Host *

    # Keep the connection temporarily open by sending a data every few minutes.
    ServerAliveCountMax 6
    ServerAliveInterval 180

    # X11 forwarding
    ForwardX11 no
    ForwardX11Trusted yes
